.custom-input,
.custom-textarea {
  position: relative;

  display: flex;
  width: 100%;


  label {
    display: flex;
    align-items: center;
    width: 100%;

    input:-webkit-autofill {
      transition: all 5000s ease-in-out 0s;
      -webkit-text-fill-color: #ffffff;
    }

    input,
    textarea {
      flex-grow: 1;
      max-width: 100%;
      width: 100%;
      min-height: 28px;
      margin-left: auto;
      padding: 0;
      background: transparent;
      font-family: "Roboto Condensed", "Arial", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      color: #ffffff;


      &::placeholder {
        font-family: "Roboto Condensed", "Arial", sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        display: flex;
        align-items: center;
        color: #ffffff;
      }

      border: 0;
      border-bottom: 1px solid #74819c;
      border-radius: 0;
      outline: none;

      transition: border 0.3s ease;

      &:hover {
        border-bottom: 1px solid #ffffff;
      }

      &:focus {
        border-bottom: 1px solid #ffffff;
      }
    }
  }

  &__label {
    @media screen and (max-width: 767px) {
      margin: 0 0 18px 0;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input,
    textarea {
      border-bottom: 1px solid #ff1553;

      &:focus,
      &:hover {
        border-bottom: 1px solid rgba(#ff1553, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      border-bottom: 1px solid #22b259;

      &:focus,
      &:hover {
        border-bottom: 1px solid rgba(#22b259, 0.5);
      }
    }
  }

  .input-message {
    position: absolute;
    right: 0;
    bottom: -5px;

    &.is-invalid {
      color: #ff0000;
    }

    &.is-valid {
      color: #15ab07;
    }
  }
}
