.footer {
  background: #030a1a;
  padding: 44px 0 32px;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo-container {
    margin-right: 8px;
    display: inline-flex;

    & a {
      display: inline-flex;
    }
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    width: 431px;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 15px;
    transform: translateY(-4px);
  }

  &__list {
    display: flex;
    column-gap: 40px;
    row-gap: 15px;
    margin: 0;
    padding: 0;
    list-style: none;
    flex-wrap: wrap;

    & a {
      font-family: "Roboto Condensed", "Arial", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 16px;
      display: flex;
      align-items: center;
      color: #ffffff;
    }
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 11px;
    width: 97px;

    & a {
      display: inline-flex;
      align-items: center;
    }
  }
}

@include vp-1199 {
  .footer {
    padding: 40px 0 44px;

    &__container {
      padding-right: 39px;
    }

    &__logo-container {
      & svg {
        width: 82px;
      }
    }

    &__nav {
      transform: translateY(1px);
      width: 391px;
    }

    &__list {
      column-gap: 30px;
    }
  }
}

@include vp-767 {
  .footer {
    padding: 50px 0 44px;

    &__container {
      flex-direction: column;
      align-items: flex-start;
      gap: 38px;
      position: relative;
    }

    &__logo-container {
      position: absolute;
      top: 0;
      left: 15px;

      & svg {
        width: 68px;
        height: 15px;
      }
    }

    &__nav {
      width: auto;
      column-gap: 23.6vw;
    }

    &__list {
      flex-direction: column;
      row-gap: 19px;

      & a {
        font-size: 16px;
        line-height: 19px;
      }
    }

    &__list--first {
      margin-top: 39px;
    }
  }
}
